.table
  &_employee
    tr
      > td
        vertical-align: middle !important
        &:nth-child(1)
          width: 10%
        &:nth-child(2)
          width: 30%
        &:nth-child(3)
          width: 30%
        &:nth-child(4)
          width: 10%
          white-space: nowrap
        &:nth-child(5)
          width: 20%
          white-space: nowrap
