.table
  &_department
    tr
      > td
        vertical-align: middle !important
        &:nth-child(1)
          width: 10%
        &:nth-child(2)
          width: 70%
        &:nth-child(3)
          width: 20%
          white-space: nowrap
